doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Noticall AD Manager
    // Bootstrap core CSS
    link(rel='stylesheet', href='stylesheets/bootstrap/css/bootstrap.css')
    // Custom styles for this template
    link(rel='stylesheet', href='stylesheets/main.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container
      .row
        .col-xs-12.col-sm-12.col-md-offset-2.col-md-8
          .well.well-sm
            .panel.panel-default
              .panel-heading
                legend.legend-margin
                  i.glyphicon.glyphicon-globe
                  |  Noticall AD Server
              .panel-body
                ul.nav.nav-tabs(role='tablist')
                  li.active
                    a(href='#summaryTab', role='tab', data-toggle='tab') Summary
                  li
                    a(href='#uploadTab', role='tab', data-toggle='tab') Upload
                  li
                    a(href='#nullTab', role='tab', data-toggle='tab') Null
                  li
                    a(href='#null2Tab', role='tab', data-toggle='tab') Null2
                .bg.padding-10
                  .tab-content.padding-10
                    #summaryTab.tab-pane.fade.in.active.center
                      ul.list-group
                        li.list-group-item
                          img(alt='Test Box', src='http://placehold.it/100x100')
                          |                                                 Test
                          .pull-right.action-buttons
                            a(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-pencil
                            a.trash(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-trash
                            a.flag(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-flag
                        li.list-group-item
                          | Test
                          .pull-right.action-buttons
                            a(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-pencil
                            a.trash(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-trash
                            a.flag(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-flag
                        li.list-group-item
                          | Test
                          .pull-right.action-buttons
                            a(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-pencil
                            a.trash(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-trash
                            a.flag(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-flag
                        li.list-group-item
                          | Test
                          .pull-right.action-buttons
                            a(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-pencil
                            a.trash(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-trash
                            a.flag(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-flag
                        li.list-group-item
                          | Test
                          .pull-right.action-buttons
                            a(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-pencil
                            a.trash(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-trash
                            a.flag(href='http://www.jquery2dotnet.com')
                              span.glyphicon.glyphicon-flag
                    #uploadTab.tab-pane.fade
                      form#mp3UploadForm.form(role='form', enctype='multipart/form-data', action='/files/upload', method='post')
                        input.form-control(type='file', name='ADmp3')
                        input.form-control(type='file', name='ADimage')
                        button.btn.btn-lg.btn-primary.btn-block(type='submit') Upload Mp3
                    #nullTab.tab-pane.fade
                      .form-group
                        label(for='country') Country :
                        input#country.form-control(type='text')
                    #null2Tab.tab-pane.fade
                      .form-group
                        label(for='url') URL :
                        input#url.form-control(type='text')
    // /container
    script(type='text/javascript', src='javascripts/jquery-1.11.1.js')
    script(type='text/javascript', src='stylesheets/bootstrap/js/bootstrap.js')
