<!DOCTYPE html>
<html lang="en" ng-app="noticallAD">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Sign in - Noticall AD Manager</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/signin.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container" ng-controller="SignInCtrl as signin">
        <div class="form-signin well well-sm">
          <form name="signInForm" class="form" role="form" ng-submit="signin.submit()" novalidate>
            <legend><i class="glyphicon glyphicon-globe"></i> Noticall AD Server</legend>
            <label for="mail" class="sr-only">Email address</label>
            <input type="email" name="mail" class="form-control" placeholder="Email address" ng-model="signin.user.mail" required autofocus>
            <p ng-show="signInForm.mail.$invalid && !signInForm.mail.$pristine" class="help-block">Enter a valid email.</p>
            <label for="pw" class="sr-only">Password</label>
            <input type="password" name="pw" class="form-control" placeholder="Password" ng-model="signin.user.pw" ng-minlength="4" ng-maxlength="40" required>
            <p ng-show="signInForm.pw.$error.minlength" class="help-block">Password is too short.</p>
            <p ng-show="signInForm.pw.$error.maxlength" class="help-block">Password is too long.</p>

            <button id="signupBtn" class="btn btn-lg btn-warning" onclick="location.href='./signup';">회원가입</button>
            <button class="btn btn-lg btn-primary pull-right" type="submit" ng-disabled="signInForm.$invalid || signin.submitLbl != '로그인'">{{signin.submitLbl}}</button>
          </form>
        </div>
        <% if (isSignedUp) { %>
            <div>회원가입을 하셨습니다. 로그인 해주세요.</div>
        <% } %>
    </div> <!-- /container -->
  </body>
  <script src="javascripts/lib/angular/angular.min.js"></script>
  <script src="javascripts/lib/angular-route/angular-route.min.js"></script>
  <script src="javascripts/app/app.js"></script>
  <script src="javascripts/app/controller/SignInCtrl.js"></script>
  <!-- // <script type="text/javascript" src="javascripts/adserver.js"></script>
  // <script>
  //     $(document).ready(function(){
  //         $("#signupBtn").on("click", function (e) {
  //             location.href='./signup';
  //         });
  //     });
  // </script> -->
</html>
