<div class="form-signin well well-sm">
  <form name="signInForm" class="form" role="form" ng-submit="signin.submit()" novalidate>
    <legend><i class="glyphicon glyphicon-globe"></i> Noticall AD Server</legend>
    <label for="mail" class="sr-only">Email address</label>
    <input type="email" name="mail" class="form-control" placeholder="Email address" ng-model="signin.user.mail" ng-enter="signin.submit()" required autofocus>
    <label for="pw" class="sr-only">Password</label>
    <input type="password" name="pw" class="form-control" placeholder="Password" ng-model="signin.user.pw" ng-enter="signin.submit()" ng-minlength="4" ng-maxlength="20" required>
    <p ng-show="signInForm.mail.$invalid && !signInForm.mail.$pristine" class="help-block">Enter a valid email.</p>
    <p ng-show="signInForm.pw.$error.minlength" class="help-block">Password is too short.</p>
    <p ng-show="signInForm.pw.$error.maxlength" class="help-block">Password is too long.</p>

    <a href="/web/signup"><button class="btn btn-lg btn-warning">회원가입</button></a>
    <button class="btn btn-lg btn-primary pull-right" type="submit" ng-disabled="signInForm.$invalid || signin.submitLbl != '로그인'">{{signin.submitLbl}}</button>
  </form>
</div>
